*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.timeline-main {
margin:50px 20px 20px 20px;
}

.timeline-container, .timeline-container p, .timeline-container h2 {
font-family: 'Lato', Calibri, Arial, sans-serif;
max-width:940px;
font-size: 100%;
padding: 0;
margin: 0;
position:relative;
border:none;
}

.timeline-container .navbar-default {
background-color: #FFFFFF;
box-shadow: -3px 2px 5px #888888;
}

#timeline .navbar {
border-radius: 0px;
height:60px;
}

.timeline-container .key {
display: block;
padding-top: 15px;
padding-bottom: 15px;
margin-left: 10px;
color: #777777;
}

.timeline-container .key-header {
float: left;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
color: #777777;
}

.timeline-container .navbar-header {
margin-left:10px;
position: relative; 
}

.timeline-container .navbar-nav > li > a {
line-height: 22px;
}

.timeline-container .update {
text-transform:uppercase;
font-size:12px;
color:#585858;
font-weight: bold;
margin-bottom: 5px;
}

.timeline-container .manusupdate {
text-transform:uppercase;
font-size:12px;
color:red;
font-weight: bold;
margin-bottom: 5px;
}

#nav.affix {
position: fixed;
top: 0;
width:940px;
z-index:5;
}

#manus ul li {
overflow:visible;

}

#timeline h2 {
border-top:none;
cursor: pointer;
margin-bottom: 10px;

}


.cbp_tmtimeline {
margin: 30px 0 0 0;
padding: 0;
list-style: none;
position: relative;
} 


.cbp_tmtimeline:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
width: 10px;
background: #000;
left: 20%;
margin-left: -10px;
}

.cbp_tmtimeline:after {
position: absolute;
bottom: -10px;
content: '';
width:46px;
height:10px;
background: #000;
margin-left: 151px;
margin-top:10px;
}

.cbp_tmtimeline > li .cbp_tmtime {
display: block;
width: 25%;
padding-right: 100px;
position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
display: block;
text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
font-size: 0.9em;
color: #000;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
font-size: 2em;
color: #000;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
color: #000;
}

.cbp_tmtimeline > li .cbp_tmlabel {
margin: 0 0 15px 25%;
background: #F2F2F2;
color: #000;
padding: 2em;
font-size: 1.2em;
font-weight: 300;
line-height: 1.4;
position: relative;
border-radius: 5px;

}


#timeline .distress_call .cbp_tmlabel h2 { 
margin-top: 0px;
padding: 0 0 5px 0;
border-bottom: 2px solid #2b83ba !important;

}

#timeline .boat_arrival .cbp_tmlabel h2 { 
margin-top: 0px;
padding: 0 0 10px 0;
border-bottom: 2px solid #abdda4 !important;
}

#timeline .turnback .cbp_tmlabel h2 { 
margin-top: 0px;
padding: 0 0 10px 0;
border-bottom: 2px solid #d7191c !important;
}


#timeline .boat_interception .cbp_tmlabel h2 { 
margin-top: 0px;
padding: 0 5px 10px 0;
border-bottom: 2px solid #fdae61 !important;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
right: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-right-color: #F2F2F2;
border-width: 10px;
top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
border-right-color: #F2F2F2;
}

.cbp_tmtimeline > li .cbp_tmicon {
width: 40px;
height: 40px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
font-size: 1.4em;
line-height: 40px;
-webkit-font-smoothing: antialiased;
position: relative;
color: #fff;
border-radius: 50%;
box-shadow: 0 0 0 8px #000;
text-align: center;
left: 20%;
top: 0;
float:left;
margin: 0 0 0 -25px;
}

.catMarker {

width: 20px;
height: 20px;
line-height: 40px;
-webkit-font-smoothing: antialiased;
color: #fff;
border-radius: 50%;
box-shadow: 0 0 0 4px #000;
display: inline-block;
margin-right: 7px;
margin-bottom: -5px;

}


#timeline .cat1 {
background: #FFFF00;

}

#timeline .cat2 {
background: #FF9933;

}

#timeline .cat3 {
background: #B40404;

}

#timeline .catText {

line-height: 20px;
}

.distress_call .cbp_tmicon, .distress_call .catMarker {

background: #2b83ba !important;

}

.boat_interception .cbp_tmicon, .boat_interception .catMarker {

background: #fdae61 !important;

}

.turnback .cbp_tmicon, .turnback .catMarker {

background: #d7191c !important;
}

.boat_arrival .cbp_tmicon, .boat_arrival .catMarker {

background: #abdda4 !important;
}

#timeline-list h2 {
font-size: 23px !important;
font-weight: bold !important;
background-image:url('../img/down.png');
background-repeat:no-repeat;
background-position:right;

}

#timeline  p {

font-size: 17px !important;

}

.details {

display: none;
}

#manusLeadImage {
width:940px;
height:300px;
background-image:url('../img/customs.jpg');
background-repeat:no-repeat;
position: relative;
}

#manusImageText {

position: absolute;
right:20px;
bottom:10px;
color:#FFF;
}

.manusShareLinks {

text-align: right;
float:right;
text-transform:uppercase;
font-size:12px;
font-weight: bold;
}


#timeline .abbrevPopover {

border-bottom: 1px dotted;
}
